body {
    font-family: arial, sans-serif;
    color: white;
  }
.wrapper{
    margin: 30px auto;
    max-width: 1300px;
}
.app {
    padding: 20px;    
    border: 1px solid brown;
}

.col-4 {
    background-color: #C7501B;
    padding:10px
 
}
.city {
    font-size:60px;
}
.temperature {
    font-size: 35px;
}
.overview-description{
    list-style: none;
    font-size:20px;
    padding: 0;
}
.description:first-letter {
    text-transform: capitalize;
}
.current-weather{
    font-size:20px;
    padding: 0;
}
.weather-temperature .active {
    color: black;
    cursor:default;
    text-decoration: none;
}
.clearfix{
    text-align: center;
}
.float-left{
    text-align: center;
}
.humidity-wind{
    list-style: none;
    font-size:20px;
    padding: 0;
    margin: 0 auto;
    line-height: 2;
}
.forecast-day {
    font-size:30px;
   
}
.forecast {
    font-size: 40px;
    line-height: 2;
}
.fa-solid {
    padding-left: 15px;
}
.my-name {
    color:grey;
}