body {
    font-family: arial, sans-serif;
    color: white;
  }
.wrapper{
    margin: 30px auto;
    max-width: 1300px;
}
.app {
    padding: 20px;    
    border: 1px solid brown;
}

.col-4 {
    background-color: #500700;
}