body {
    font-family: arial, sans-serif;
    color: white;
  }
.wrapper{
    margin: 0px auto;
    max-width: 1300px;
}
.app {
    padding: 20px;    
   
}
.container {
    padding: 0px;
}
.card {
    padding:0px;
    width: 1000px;
}
.form-control {
    height: 50px;
}
.btn {
    height: 50px;

}

.forecast {
    background-color: #C7501B;
    padding:0px;
    position:relative;
    top: 120px;
    opacity: 0.7;
 height: 130px;
 font-size: 20px;
 margin: 0 auto;
 text-align: center;
 }
.city {
    font-size:65px;
    margin-left: 10px;
}

.current-temp {
    font-size: 75px;

}
.units {
    font-size: 40px;
    vertical-align: top;
}
.overview {
    margin-top: 30px;
}
.overview-description{
    list-style: none;
    font-size:16px;
    padding: 0;
    margin: 0px;
  
}
.description:first-letter {
    text-transform: capitalize;
}
.current-weather{
    font-size:30px;
    padding: 0;
}

.clearfix{
    text-align: center;
}

.humidity-wind{
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.humidity {
    margin-bottom: 0px;
}
.my-name {
    color:grey;
}

